<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div th:insert="~{fragments/navbar::navbar}">navbar</div>

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="container">
        <form method="post" class="m-4" th:action="@{/login}">
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert" th:text="${errorMessage}">
                Please fill in your correct login details.
            </div>
            <div class="form-group m-4">
                <label for="exampleInputEmail1" th:utext="#{login.email}">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                <small id="emailHelp" class="form-text text-muted" th:utext="#{login.emailNotification}">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group m-4">
                <label for="exampleInputPassword1" th:utext="#{login.password}">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary m-4" th:utext="#{login.logIn}">Log in</button>
        </form>
        <div class="text-center">
            <a th:href="@{/register}" class="btn btn-primary text-decoration-none text-light" th:utext="#{login.registerNotification}">Haven't made an account yet? Register!</a>
        </div>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>