/*General Rules*/

.font-weight-bold{
    font-weight: bold;
}

.width400px{
    width: 400px;
}

body{
    background: rgb(248, 249, 250);
}

/*Index Page*/

header.indexBanner {
    position: relative;
    background-color: #343a40;
    background: url("images/bannerClock.jpg") no-repeat center top;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
header.indexBanner:before {
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.features-icons .features-icons-item {
    max-width: 30rem;
}
.features-icons .features-icons-item .features-icons-icon {
    height: 12rem;
}
.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.showcase .showcase-text {
    padding: 3rem;
}
.showcase .showcase-img {
    min-height: 30rem;
}
@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.wardrobe{
    background: url("images/wardrobe.jpg") center;
    background-size: cover;
}
.snowRunning{
    background: url("images/winter-running-cold-weather-exersize-crop.jpg") center;
    background-size: cover;
}

img.headshot{
    max-width: 15rem;
}

/*Footer*/

.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: #0d6efd;
}

.fa-instagram {
    color: #0d6efd;
}

.fa-gitlab {
    color: #0d6efd;
}

.font22{
    font-size: 22px
}

.addClothingCard{
    width: 18rem;
}

.weatherPic{
    min-width: 100px;
}