<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="footer d-flex justify-content-center my-5" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a class="nav-link" th:href="@{/aboutus}">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a style="text-decoration: none" href="https://www.kdg.be/gebruiksvoorwaarden-en-privacy">Terms of Use & Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Outfitly 2022. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#" class="fa fa-facebook"></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#" class="fa fa-instagram"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="fa fa-gitlab"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--TODO: Social media, general agreements, privacy statement-->
</body>

</html>