<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="header">
    <div class="d-flex justify-content-center m-5">
        <img src="../static/images/Outfitly-Logo-Transparent.png" alt="Outfitly logo" title="Outfitly logo" width="45%"
             th:src="@{/images/Outfitly-Logo-Transparent.png}" />
    </div>
<!--    <h1 class="display-1 text-center">-->
<!--        Outfitly-->
<!--    </h1>-->

<!--    <h2 class="text-muted text-center">-->
<!--        Your everyday AI stylist.-->
<!--    </h2>-->
</div>

</body>

</html>