<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="navbarLoggedIn">

    <!--TODO: Split up this navbar-->
    <nav class="m-4 navbar navbar-expand-lg navbar-light">
        <div class="order-0 me-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mainpage}">Main page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/outfit}">Pick an outfit!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" th:href="@{/...}">Weather forecast</a>
                </li>
            </ul>
        </div>
        <div class="order-1 ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" th:href="@{/...}">Your profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/addclothing}">Add clothing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/faq}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>

</html>