<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<div th:fragment="navbar">

    <nav class="navbar static-top navbar-expand-lg navbar-light">
        <div class="container-fluid justify-content-start">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/logo.png}" width="40" height="30" alt="Outfitly Logo">
                Outfitly
            </a>
        </div>
        <div class="container-fluid justify-content-end">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link" th:utext="#{navbar.a-1}" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:utext="#{navbar.a-2}" th:href="@{/aboutus}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:utext="#{navbar.a-4}" th:href="@{/faq}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:utext="#{navbar.a-5}" th:href="@{/pricing}">Price</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:utext="#{navbar.a-6}" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary mx-2" th:utext="#{navbar.a-7}" th:href="@{/register}">Register</a>
                </li>
            </ul>
        </div>
    </nav>

</div>

</body>

</html>