<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../static/style.css" media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <nav th:replace="${loggedIn} ? ~{fragments/navbarLoggedIn::navbarLoggedIn} : ~{fragments/navbar::navbar}"></nav>

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="d-flex justify-content-center">
        <div class="m-md-4 m-2 w-50 justify-content-center">
            <p class="h1 font-weight-bold" th:utext="#{aboutus.ourMission}">Our mission</p>
            <p class="indexPageText" th:utext="#{aboutus.ourMissionText}">
                We want to save people's precious time by automating the process of picking their clothing so they have more time for their important tasks.
            </p>
            <p class="h1 font-weight-bold" th:utext="#{aboutus.aboutUs}">About us</p>
            <p class="indexPageText" th:utext="#{aboutus.aboutUsText}">
                We're a small team of multinational and success driven students who are currently studying in the Applied Computer Science course at the Karel de Grote University College.
            </p>
        </div>
    </div>

    <div class="card-deck mx-5 text-center d-flex justify-content-center">
        <div class="row">
            <div class="col-lg-6 col-xs-12 letter-space d-flex justify-content-center">
                <div class="card my-4 box-shadow teamCard" >
                    <div class="container mt-4">
                        <img th:src="@{images/teamPictures/ruben.png}" class="teamPicture">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Brouwers Ruben</h5>
                        <p class="small">CEO</p>
                    </div>
                    <div class="card-body">
                        <a href="https://gitlab.com/BrouwersRuben" target="_blank" class="btn btn-outline-dark m-4" th:utext="#{aboutus.gitlabProfile}">Gitlab profile</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 letter-space d-flex justify-content-center">
                <div class="card my-4 box-shadow teamCard">
                    <div class="container mt-4">
                        <img th:src="@{images/teamPictures/roby.png}" class="teamPicture">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Van Boxelaere Roby</h5>
                        <p class="small">CFO</p>
                    </div>
                    <div class="card-body">
                        <a href="https://gitlab.com/Robyvb" target="_blank" class="btn btn-outline-dark m-4" th:utext="#{aboutus.gitlabProfile}">Gitlab profile</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 letter-space d-flex justify-content-center">
                <div class="card my-4 box-shadow teamCard">
                    <div class="container mt-4">
                        <img th:src="@{images/teamPictures/rodzers.png}" class="teamPicture">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ušackis Rodžers</h5>
                        <p class="small">CMO</p>
                    </div>
                    <div class="card-body">
                        <a href="https://gitlab.com/rodzhersu" target="_blank" class="btn btn-outline-dark m-4" th:utext="#{aboutus.gitlabProfile}">Gitlab profile</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 letter-space d-flex justify-content-center">
                <div class="card my-4 box-shadow teamCard">
                    <div class="container mt-4">
                        <img th:src="@{images/teamPictures/dominik.png}" class="teamPicture">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Mika Dominik</h5>
                        <p class="small">CTO</p>
                    </div>
                    <div class="card-body">
                        <a href="https://gitlab.com/Dominik.Mika" target="_blank" class="btn btn-outline-dark m-4" th:utext="#{aboutus.gitlabProfile}">Gitlab profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center align-content-center">
        <form action="mailto:contact-project+kdg-ti-integration-2-1-outfitli-final-application-outfitly@incoming.gitlab.com?subject=ProblemInquiry" method="POST" name="emailForm">
            <label for="feedbackContent" class="form-label m-2" th:utext="#{aboutus.contactUs}">Have any problems or questions?? Contact us!</label>
            <textarea class="form-control m-2" id="feedbackContent" name="feedbackContent" placeholder="Enter your problem or question here!"></textarea>
            <div class="d-flex justify-content-end">
                <input class="btn btn-outline-dark my-2" type="submit" th:value="#{aboutus.contactUsButton}">
            </div>
        </form>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>