<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <nav th:replace="${loggedIn} ? ~{fragments/navbarLoggedIn::navbarLoggedIn} : ~{fragments/navbar::navbar}"></nav>

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="m-md-4 m-2">
        <h1 class="font-weight-bold">Our mission</h1>
        <p>
            We want to save people's precious time by automating the process of picking their clothing so they have more time for their important tasks.
        </p>
        <h1 class="font-weight-bold">About us</h1>
        <p>
            We're a small team of multinational and success driven students who are currently studying in the Applied Computer Science course at the Karel de Grote University College.
        </p>
    </div>

    <div class="card-deck mx-5 text-center d-flex flex-row justify-content-center">
        <div class="row">
            <div class="card m-4 box-shadow" style="width: 20rem;">
                <div class="container mt-4">
                    <img th:src="@{images/Ruben.png}" class="w-50">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Brouwers Ruben</h5>
                    <p class="small">CEO</p>
                </div>
                <div class="card-body">
                    <a href="https://gitlab.com/BrouwersRuben" target="_blank" class="card-link">Gitlab profile</a>
                </div>
            </div>

            <div class="card m-4 box-shadow" style="width: 20rem;">
                <div class="container mt-4">
                    <img th:src="@{images/Roby.png}" class="w-50">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Van Boxelaere Roby</h5>
                    <p class="small">CFO</p>
                </div>
                <div class="card-body">
                    <a href="https://gitlab.com/Robyvb" target="_blank" class="card-link">Gitlab profile</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card m-4 box-shadow" style="width: 20rem;">
                <div class="container mt-4">
                    <img th:src="@{images/Rodzers.png}" class="w-50">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ušackis Rodžers</h5>
                    <p class="small">CMO</p>
                </div>
                <div class="card-body">
                    <a href="https://gitlab.com/Robyvb" target="_blank" class="card-link">Gitlab profile</a>
                </div>
            </div>

            <div class="card m-4 box-shadow" style="width: 20rem;">
                <div class="container mt-4">
                    <img th:src="@{images/Dominik.png}" class="w-50">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mika Dominik</h5>
                    <p class="small">CTO</p>
                </div>
                <div class="card-body">
                    <a href="https://gitlab.com/Robyvb" target="_blank" class="card-link">Gitlab profile</a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center align-content-center">
        <form action="mailto:contact-project+kdg-ti-integration-2-1-outfitli-final-application-outfitly@incoming.gitlab.com?subject=ProblemInquiry" method="POST" name="emailForm">
            <label for="feedbackContent" class="form-label m-2">Have any problems or questions?? Contact us!</label>
            <textarea class="form-control m-2" id="feedbackContent" name="feedbackContent" placeholder="Enter your problem or question here!"></textarea>
            <input class="btn btn-primary m-2" type="submit" value="Send Request">
        </form>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>