<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change location</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:insert="~{fragments/navbarLoggedIn::navbarLoggedIn}">navbarLoggedIn</div>

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="d-flex justify-content-center align-content-center">
        <form method="post">
            <div class="form-group row">
                <label for="country" class="float-start">Change your country:</label>
                <input type="text" name="country" id="country" th:value="${user.country}" class="float-end m-1 w-50">
            </div>
            <div class="form-group row">
                <label for="city" class="float-start">Change your city:</label>
                <input type="text" name="city" id="city" th:value="${user.city}" class="float-end m-1 w-50">
            </div>
            <div class="form-group row">
                <label for="streetName" class="float-start">Change your street:</label>
                <input type="text" name="streetName" id="streetName" th:value="${user.streetName}" class="float-end m-1 w-50">
            </div>
            <div class="form-group row">
                <label for="streetNumber" class="float-start">Change your street number:</label>
                <input type="number" name="streetNumber" id="streetNumber" th:value="${user.streetNumber}" class="float-end m-1 w-50">
            </div>
            <div class="form-group row">
                <label for="apartmentNumber" class="float-start">Change your Apartment number:</label>
                <input type="text" name="apartmentNumber" id="apartmentNumber" th:value="${user.apartmentNumber}" class="float-end m-1 w-50">
            </div>
            <div class="form-group row">
                <label for="zipcode" class="float-start">Change your zipcode:</label>
                <input type="text" name="zipcode" id="zipcode" th:value="${user.zipcode}" class="float-end m-1 w-50">
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-dark m-4" type="submit">Change location</button>
            </div>
        </form>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>