<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change location</title>
    <link rel="icon" type="image/x-icon" th:href="@{images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:insert="~{fragments/navbarLoggedIn::navbarLoggedIn}">navbarLoggedIn</div>

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="d-flex justify-content-center align-content-center">
        <form method="post" th:object="${locationDTO}" th:action="@{/user/profile/changelocation}">
<!--            <div class="form-group row d-flex justify-content-center">-->
<!--                <label for="country" class="m-1 w-75">Country:</label>-->
<!--                <input type="text" name="country" id="country" th:value="${user.country}" class="m-1 w-75">-->
<!--                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">country error</div>-->
<!--            </div>-->

            <div class="form-group row d-flex justify-content-center">
                <label class="m-1 w-75" for="countryCode" th:utext="#{changelocation.country}">Country</label>
                <select class="m-1 w-75" id="countryCode" name="countryCode">
                    <option th:each="nameAndCode : ${namesAndCodes}" th:text="${nameAndCode.getKey()}" th:value="${nameAndCode.getValue()}" th:selected="${nameAndCode.getValue()} == ${user.countryCode}"></option>
                </select>
                <div class="m-2 alert alert-danger" th:errors="*{countryCode}" th:if="${#fields.hasErrors('countryCode')}">
                    country code error
                </div>
            </div>

            <div class="form-group row d-flex justify-content-center">
                <label for="city" class="m-1 w-75" th:utext="#{changelocation.city}">City:</label>
                <input type="text" name="city" id="city" th:value="${user.city}" class="m-1 w-75">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">city error</div>
                <div class="m-2 alert alert-danger" th:if="${#fields.hasGlobalErrors()}" th:text="${#fields.globalErrors().get(0)}">Invalid location error</div>
            </div>
            <div class="form-group row d-flex justify-content-center">
                <label for="streetName" class="m-1 w-75" th:utext="#{changelocation.street}">Street:</label>
                <input type="text" name="streetName" id="streetName" th:value="${user.streetName}" class="m-1 w-75">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}">street name error</div>
            </div>
            <div class="form-group row d-flex justify-content-center">
                <label for="streetNumber" class="m-1 w-75" th:utext="#{changelocation.streetNumber}">Street number:</label>
                <input type="text" name="streetNumber" id="streetNumber" th:value="${user.streetNumber}" class="m-1 w-75">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('streetNumber')}" th:errors="*{streetNumber}">street number error</div>
            </div>
            <div class="form-group row d-flex justify-content-center">
                <label for="apartmentNumber" class="m-1 w-75" th:utext="#{changelocation.apartmentNumber}">Apartment number:</label>
                <input type="text" name="apartmentNumber" id="apartmentNumber" th:value="${user.apartmentNumber}" class="m-1 w-75">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('apartmentNumber')}" th:errors="*{apartmentNumber}">apartment number error</div>
            </div>
            <div class="form-group row d-flex justify-content-center">
                <label for="zipcode" class="m-1 w-75" th:utext="#{changelocation.zipcode}">Zipcode:</label>
                <input type="text" name="zipcode" id="zipcode" th:value="${user.zipcode}" class="m-1 w-75">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">zipcode error</div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-dark m-4" type="submit" th:value="#{changelocation.changeLocation}">Change location</button>
                <a th:href="@{/user/profile}" class="btn btn-outline-dark m-4" th:value="#{changelocation.goBack}">Go back</a>
            </div>
        </form>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>