<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change location</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:insert="~{fragments/navbarLoggedIn::navbarLoggedIn}">navbarLoggedIn</div>

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="d-flex justify-content-center align-content-center">
      <form method="post" th:object="${phoneNumberDTO}" th:action="@{/user/profile/changephonenumber}">
        <div class="form-group row">
          <label for="newPhoneNumber" class="m-1 w-75" th:utext="#{changephonenumber.phoneNumber}">Phone number:</label>
          <input type="text" name="newPhoneNumber" id="newPhoneNumber" th:value="${user.getPhoneNumber()}" class="m-1 w-75">
          <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('newPhoneNumber')}" th:errors="*{newPhoneNumber}">Phone number error</div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-outline-dark m-4" type="submit" th:value="#{changephonenumber.changePhoneNumber}">Change phone number</button>
          <a th:href="@{/user/profile}" class="btn btn-outline-dark m-4" th:value="#{changephonenumber.goBack}">Go back</a>
        </div>
      </form>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>