<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This page does not exist yet</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="m-4">
    <div th:insert="~{fragments/header::header}">header</div>

    <div class="d-flex justify-content-center m-5">
        <img src="../static/images/catindryer.gif" alt="CatInDryer" title="cat in dryer"
             th:src="@{/images/catindryer.gif}" />
    </div>

    <h3 class="text-center">404 - Not found</h3>
</body>
</html>