<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This page does not exist yet</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <h2 class="display-2 m-4 text-center">
        This page does not exist yet!
    </h2>

    <div class="d-flex justify-content-center m-5">
        <img src="../static/images/catindryer.gif" alt="CatInDryer" title="cat in dryer"
             th:src="@{/images/catindryer.gif}" />
    </div>
</body>
</html>