<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Exists Error</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="m-4">
    <nav th:replace="${loggedIn} ? ~{fragments/navbarLoggedIn::navbarLoggedIn} : ~{fragments/navbar::navbar}"></nav>

    <div th:insert="~{fragments/header::header}">header</div>

    <h1 class="m-4 display-1 text-center" th:utext="#{emailexistserror.emailExistsError}">Email Exists Error</h1>

    <h5 class="text-center" th:utext="#{emailexistserror.text1}">Email: <strong><span th:text="${exception.getEmail()}"></span></strong> <span th:utext="#{emailexistserror.text2}">already exists in the database.</span></h5>

    <div class="d-flex justify-content-center">
        <input type="button" class="btn btn-outline-dark m-4" onclick="history.go(-1);" th:value="#{emailexistserror.goBack}"/>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>