<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="m-4">

    <div th:insert="~{fragments/header::header}">header</div>

    <h1 class="display-1 text-center m-4">An Error Occurred</h1>

    <div class="d-flex justify-content-center">
        <div class="container m-4">
            <div class="d-flex flex-row-reverse">
                <div class="col-sm">
                    <p th:if="${url}">
                        <b>Page:</b> <span th:text="${url}">Page URL</span>
                    </p>
                    <p th:if="${url == null}">
                        <b>URL:</b> <span th:text="${#httpServletRequest.requestURL}">Request URL</span>
                    </p>
                    <p th:if="${status}">
                        <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
                            th:if="${error}" th:text="'('+${error}+')'">error ...</span>
                    </p>
                    <p id='created' th:if="${timestamp}">
                        <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
                    </p>
                </div>
                <div class="d-flex flex-row-reverse">
                    <img class="img-fluid mx-5" src="../static/images/catindryer.gif" alt="CatInDryer" title="cat in dryer" th:src="@{/images/catindryer.gif}" />
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <input action="action" type="button" class="btn btn-outline-dark m-4" onclick="history.go(-1);" value="Go Back"/>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>