<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="m-4">

<nav th:replace="${loggedIn} ? ~{fragments/navbarLoggedIn::navbarLoggedIn} : ~{fragments/navbar::navbar}"></nav>

<div th:insert="~{fragments/header::header}">header</div>

<div class="m-4">
    <h2 class="font-weight-bold">How does it work?</h2>
    <p>
        The process is really simple. When you create your account, you must first add your clothing to our database.<br>
        After that, you can use our AI to generate you outfits!<br>
        The more clothing you add, the more choices the AI has to go through, giving you a lot more outfit choices.<br>
        No longer have that piece of clothing? No problem! Just simply remove it on the website, and we will stop recommending it.
    </p>
    <h2 class="font-weight-bold">Can I add my children's clothes to my account?</h2>
    <p>
        This isn't a feature yet but we are working on this!
    </p>
    <!--
    <h5 class="font-weight-bold">I forgot my password, where do I retrieve it?</h5>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, commodo ut elit ullamco exercitation et deserunt
        culpa ex elit occaecat officia est dolore et elit ut incididunt in dolore officia ut voluptate occaecat
        cillum sed aute exercitation reprehenderit aute est aute elit dolore reprehenderit anim. Duis. Ad ad
        mollit irure nostrud occaecat aute cillum irure exercitation laborum ut deserunt consectetur ad ea
        non elit non amet nisi sint reprehenderit pariatur aliqua.
    </p>
    -->
    <h2 class="font-weight-bold">What happens with my data?</h2>
    <p>
        We treat your data with the upmost respect. We will never sell your data.
        Your data gets used to improve your experience and some of our services depend on it (ex. the weather forecast).<br>
        We are very transparent when it comes to user data.<br>
        We don't gather data that the user doesn't know of. Everything that's collected is shown to you.<br>
        Want to see all the data we saved or want to make sure your data is removed? Contact us!
    </p>
</div>

<div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>