<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../static/style.css" media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav th:replace="${loggedIn} ? ~{fragments/navbarLoggedIn::navbarLoggedIn} : ~{fragments/navbar::navbar}"></nav>

<div class="container d-flex flex-column justify-content-sm-center">

    <div class="pricing mx-auto text-center">
        <p class="h1 font-weight-bold" th:utext="#{how-it-works.heading-1}">How Does It Work ?</p>
        <p class="h5 font-weight-bold" th:utext="#{how-it-works.heading-2}">Clothes Picking Reimagined</p>
    </div>

    <div class="card-deck d-flex flex-lg-row flex-sm-column m-4">

        <div class="card border-0 mx-sm-auto" style="width:20rem;">
            <div class="card-body">
                <img class="card-image" th:src="@{images/how-it-works-illustration-1.svg}" alt="illustration">
                <p class="h4 card-title font-weight-bold" th:utext="#{how-it-works.card-1-title}">Step 1</p>
                <div class="card-description">
                    <p th:utext="#{how-it-works.card-1-description}">Create an account and choose your preferred subscription model.</p>
                </div>
            </div>
        </div>


        <div class="card border-0 mx-5 mx-sm-auto" style="width:20rem;">
            <div class="card-body">
                <img class="card-image" th:src="@{images/how-it-works-illustration-2.svg}" alt="illustration">
                <p class="h4 card-title font-weight-bold" th:utext="#{how-it-works.card-2-title}">Step 2</p>
                <div class="card-description">
                    <p th:utext="#{how-it-works.card-2-description}">Add your clothing items in the application.</p>
<!--                        The more clothes you add, the more outfit choices our AI will be able to give you!</p>-->
                </div>
            </div>
        </div>

        <div class="card border-0 mx-sm-auto" style="width:20rem;">
            <div class="card-body">
                <img class="card-image" th:src="@{images/how-it-works-illustration-3.svg}" alt="illustration">
                <p class="h4 card-title font-weight-bold" th:utext="#{how-it-works.card-3-title}">Step 3</p>
                <div class="card-description">
                    <p th:utext="#{how-it-works.card-3-description}">Select the occasion of your event.</p>
<!--                    <br><br>Whether it's sunny, rainy or snowy, we got you covered!-->
                </div>
            </div>
        </div>

        <div class="card border-0 mx-sm-auto" style="width:20rem;">
            <div class="card-body">
                <img class="card-image" th:src="@{images/how-it-works-illustration-4.svg}" alt="illustration">
                <p class="h4 card-title font-weight-bold" th:utext="#{how-it-works.card-4-title}">Step 4</p>
                <div class="card-description">
                    <p th:utext="#{how-it-works.card-4-description}">Let our Artificial Intelligence take care of the rest.</p>
<!--                    <br><br>A list of outfit choices will be presented to you whenever you want it.</p>-->
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <a class="btn btn-primary mt-4" th:utext="#{how-it-works.button}" th:href="@{register}">Try It Out!</a>
    </div>

</div>

<div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>