<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Outfitly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../static/style.css" media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<nav th:replace="${loggedIn} ? ~{fragments/navbarLoggedIn::navbarLoggedIn} : ~{fragments/navbar::navbar}"></nav>

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="container-fluid bg-blue text-white text-center py-4">
        <h3 class="m-4 font-weight-bold" th:text="#{index.bannerText}">
            Don't waste time picking the right clothes. Outfitly will do it for <br>
            you. Save time by wearing the correct clothes for the correct occasion.<br>
        </h3>
    </div>

    <div class="d-flex justify-content-center">
        <a th:href="@{/register}"><img class="width400px" th:src="@{images/register.png}" alt="Register now!"></a>
    </div>

    <div class="d-flex justify-content-center">
        <div class="container m-4">
            <div class="row">
                <div class="col-sm flex-row-reverse">
                    <div class="d-flex flex-row-reverse">
                        <img class="my-4 width400px" th:src="@{images/drawingWardrobe.png}" alt="cartoon wardrobe image">
                    </div>
                </div>
                <div class="col-sm">
                    <p class="h1 m-4 font-weight-bold" th:utext="#{index.whatIsThis}">What is this?</p>
                    <p class="m-4 indexPageText" th:utext="#{index.whatIsThisDescription1}">
                        A subscription based application that, with the help of Artificial Intelligence, would assist
                        the user with the daily task of picking out clothes for the day by taking into account the
                        weather forecast as well as the clothing inventory of the user.
                    </p>
                    <p class="m-4 indexPageText" th:utext="#{index.whatIsThisDescription2}">
                        Besides that the application would also serve a secondary purpose as a clothing manager,
                        where the user would be able to see which clothes need to be washed, which clothes are currently
                        washing and which clothes are available for selection.
                    </p>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="d-flex justify-content-center align-content-center m-4">-->
<!--        <img th:src="@{images/babyInJacket.jpeg}" class="mx-4" width="500px" alt="baby in a jacket" >-->
<!--    </div>-->

    <p class="h1 m-4 text-center font-weight-bold" th:utext="#{index.willBeForYou}">Then Outfitly will be for you!</p>

    <div class="d-flex justify-content-center">
        <div class="container m-4">
            <div class="row">
                <div class="col-sm">
                    <p class="m-4 indexPageText" th:utext="#{index.willBeForYouDescription}">
                        Our aim is to save you time and avoid those awkward situations where you have overdressed or underdressed for the occasion.<br>
                        Are you somebody that struggles with picking your outfit in the morning?<br>
                        Or somebody that regularly picks the wrong outfit because you didn't look at the weather forecast for that day?
                    </p>
                </div>
                <div class="col-sm flex-row-reverse">
                    <div class="d-flex">
                        <img th:src="@{images/guy_running_cold.jpg}" class="mx-4 width400px" alt="guy running in the snow with no clothes on" >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="h1 mb-4 text-center font-weight-bold" th:utext="#{index.ourReviews}">Our reviews</p>

    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Jonas</h5>
                    <p th:utext="#{index.jonasText}">I love supporting new technologies and Outfitly has been a great help to my busy life!</p>
                    <a th:href="@{/review-jonas}" class="btn btn-primary" th:utext="#{index.readFullReview}">Read full review</a>
                </div>
                <div class="card-footer text-muted text-end">
                    10 <span th:utext="#{index.daysAgo}">days ago</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Marie</h5>
                    <p th:utext="#{index.marieText}">It saves me so much stress. As a person that doesn't follow fashion, this is great!</p>
                    <a th:href="@{/review-marie}" class="btn btn-primary" th:utext="#{index.readFullReview}">Read full review</a>
                </div>
                <div class="card-footer text-muted text-end">
                    5 <span th:utext="#{index.daysAgo}">days ago</span>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>