<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="m-4">

    <h1 class="display-1 text-center m-4">
        Outfitly
    </h1>

<!--    TODO: split up this navbar-->
    <nav class="m-4 navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <ul class="navbar-nav d-flex">
                <li class="nav-item justify-content-start">
                    <a class="nav-link" th:href="@{/...}">Pick outfit!</a>
                </li>
                <li class="nav-item justify-content-start">
                    <a class="nav-link" th:href="@{/...}">Weather forecast</a>
                </li>
                <li class="nav-item justify-content-end">
                    <a class="nav-link" th:href="@{/...}">Your profile</a>
                </li>
                <li class="nav-item justify-content-end">
                    <a class="nav-link" th:href="@{/...}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

<!--    TODO: Make the time stuff dynamic-->
    <h2 class="m-4">Good morning, <span th:text="${username}"></span></h2>

    <div class="col-sm-8 px-4">
        <table class="table table-hover my-4">
            <thead>
                <tr>
                    <th></th>
                    <th>API</th>
                    <th>Arduino</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Temperature</td>
                    <td><span th:text="${weatherForecastData.temperature}">$placeholder$</span> °C</td>
                    <td><span th:text="${arduinoSensorData.sensorTemperature}">$placeholder$</span> °C</td>
                </tr>
                <tr>
                    <td>Humidity</td>
                    <td><span th:text="${weatherForecastData.humidity}">$placeholder$</span> %</td>
                    <td><span th:text="${arduinoSensorData.sensorHumidity}">$placeholder$</span> %</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center">
        <div class="m-2">
            <a class="btn btn-outline-secondary" th:href="@{/...}">View suggested clothing</a>
        </div>
        <div class="m-2">
            <a class="btn btn-outline-secondary" th:href="@{/...}">View weekly broadcast</a>
        </div>
    </div>

    <div th:insert="~{footer::copy}">&copy; 2021 The Static Templates</div>

</body>
</html>