<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your outfit</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer th:src="@{/enablepopover.js}"></script>
</head>
<body class="m-4">

<div th:insert="~{fragments/navbarLoggedIn::navbarLoggedIn}">navbarLoggedIn</div>

<div th:insert="~{fragments/header::header}">header</div>

<table class="table table-responsive table-striped table-bordered my-4">
    <thead class="table-dark">
    <tr>
        <th scope="col" style="width: 50%">Clothing Type</th>
        <th scope="col" style="width: 50%">Clothing Items</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="type : ${types}" th:if="${clothes.get(type).size()!=0}">
        <td>
            <div th:text="${type.getName()}"></div>
        </td>
        <td>
            <div th:each="item : ${clothes.get(type)}" th:text="${item.getName()}"></div>
        </td>
    </tr>

    </tbody>
</table>

<div class="d-flex justify-content-center m-5">
    <a class="btn btn-outline-dark m-4" th:href="@{/outfit}">Choose a different occasion</a>
<!--    <a class="btn btn-outline-dark m-4" href="#" data-bs-toggle="popover" data-bs-placement="bottom" title="Why the AI picked these clothes" th:data-bs-content="${loggerOutput}">ℹ️ Information</a>-->
</div>

<div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>