<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your outfit</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer th:src="@{/enablepopover.js}"></script>
</head>
<body class="m-4">

<div th:insert="~{fragments/navbarLoggedIn::navbarLoggedIn}">navbarLoggedIn</div>

<div th:insert="~{fragments/header::header}">header</div>

<table class="table table-responsive table-striped table-bordered my-4">
    <thead class="table-dark">
    <tr>
        <th scope="col" style="width: 50%" th:utext="#{outfit.clothingType}">Clothing Type</th>
        <th scope="col" style="width: 50%" th:utext="#{outfit.clothingItems}">Clothing Items</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="type : ${types}" th:if="${clothes.get(type).size()!=0}">
        <td>
            <div th:text="${type.getName()}"></div>
        </td>
        <td>
            <div th:each="item : ${clothes.get(type)}">
                <p th:text="${item.getName()}">$name</p>
                <img class="w-25" th:if="${item.getPhoto()?.getPhotoEncoded()}" th:src="${item.getPhoto()?.getPhotoEncoded()}" th:alt="${item.getName()}">
                <form method="post" th:action="@{/user/outfit}">
                    <input type="text" id="ID" name="ID" th:value="${item.getId()}" hidden>
                    <input type="submit" name="putInWash" class="btn btn-outline-dark my-4" value="Put in the wash" th:value="#{outfit.putInWash}">
                    <!--
                        TODO: dirty fix - clean up
                    -->
                    <input type="text" id="occasion" name="occasion" th:value="${occasion}" hidden>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="d-flex justify-content-center m-5">
    <a class="btn btn-outline-dark m-4" th:href="@{/user/outfit}" th:utext="#{outfit.chooseDifferentOccasion}">Choose a different occasion</a>
    <a class="btn btn-outline-dark m-4" href="#" data-bs-toggle="popover" data-bs-placement="bottom" title="Why the AI picked these clothes" th:data-bs-content="${aiDecision}" th:utext="#{outfit.information}" th:title="#{outfit.whyAIPicked}">ℹ️ Information</a>
</div>

<div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>