<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <title>Outfitly</title>
</head>
<body>
    <div th:insert="~{fragments/navbarLoggedIn::navbarLoggedIn}">navbarLoggedIn</div>

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="d-flex align-items-center justify-content-center">
        <h2 th:utext="profile.greeting">Good afternoon <span th:text="${user.getFirstName()}"></span><span th:utext="profile.greetingFollowup">, what would you like to do?</span></h2>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <a th:href="@{/user/profile/changelocation}" class="btn btn-light m-2" th:utext="profile.changeLocation">Change Location</a>

        <a th:href="@{/user/profile/changepassword}" class="btn btn-light m-2" th:utext="profile.changePassword">Change Password</a>

        <a th:href="@{/user/profile/changename}" class="btn btn-light m-2" th:utext="profile.changeName">Change Name</a>

        <a th:href="@{/user/profile/changephonenumber}" class="btn btn-light m-2" th:utext="profile.changePhoneNumber">Change Phone Number</a>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <a th:href="@{/user/profile/viewclothing}" class="btn btn-light m-2" th:utext="profile.viewAllClothing">View all clothing</a>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>