<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="m-4">

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="container">
        <div class="d-flex justify-content-end">
            <a th:href="@{/login}" class="btn btn-primary m-4">Go back</a>
        </div>
    </div>

    <div class="container">
        <div th:if="${errorMessage}" class="alert alert-danger m-4" role="alert" th:text="${errorMessage}">
            Please fill in your correct login details.
        </div>
        <form method="post" class="m-4">
            <div class="form-group m-4">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="John Doe" name="name">
            </div>
            <div class="form-group m-4">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group m-4">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-primary m-4">Submit</button>
        </form>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>