<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="m-4">

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="container">
        <div class="d-flex justify-content-end">
            <a th:href="@{/}" class="btn btn-primary m-4">Go back</a>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="w-50">
            <div th:if="${errorMessage}" class="alert alert-warning text-center" role="alert" th:text="${errorMessage}">
                Please fill in your correct login details.
            </div>
        </div>
    </div>

    <div class="container">
        <form method="post" class="m-4" th:object="${userDTO}" th:action="@{/register}">
            <div class="form-group m-4">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="John" name="firstName">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">first name error</div>
            </div>
            <div class="form-group m-4">
                <label for="inputLastName">Last name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Doe" name="lastName">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">last name error</div>
            </div>
            <div class="form-group m-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
            </div>
            <div class="form-group m-4">
                <label for="email">Email address</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
            </div>
            <div class="form-group m-4">
                <label for="inputWashingDay">Wash day</label>
                <input type="text" class="form-control" id="inputWashingDay" placeholder="Wednesday" name="washDay">
                <small id="washDayHelp" class="form-text text-muted">The day you do your laundry on.</small>
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('washDay')}" th:errors="*{washDay}">wash day error</div>
            </div>
            <div class="form-group m-4">
                <label for="inputPhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="inputPhoneNumber" placeholder="+32 3 613 13 13" name="phoneNumber">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phone number error</div>
            </div>
            <h2>Address:</h2>
<!--            <div class="form-group m-4">-->
<!--                <label for="country">Country</label>-->
<!--                <input type="text" class="form-control" id="country" placeholder="Belgium" name="country">-->
<!--                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">country number error</div>-->
<!--            </div>-->

            <div class="form-group m-4">
                <label for="countryCode">Country</label>
                <select class="form-select" id="countryCode" name="countryCode">
                    <option th:each="nameAndCode : ${namesAndCodes}" th:text="${nameAndCode.getKey()}" th:value="${nameAndCode.getValue()}" th:selected="${nameAndCode.getValue() == 'BE'}"></option>
                </select>
                <div class="m-2 alert alert-danger" th:errors="*{countryCode}" th:if="${#fields.hasErrors('countryCode')}">
                    country code error
                </div>
            </div>

            <div class="form-group m-4">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="Antwerp" name="city">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">city number error</div>
                <div class="m-2 alert alert-danger" th:if="${#fields.hasGlobalErrors()}" th:text="${#fields.globalErrors().get(0)}">Invalid location error</div>
            </div>
            <div class="form-group m-4">
                <label for="streetName">Street</label>
                <input type="text" class="form-control" id="streetName" placeholder="Nationale Straat" name="streetName">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}">Street Name Error</div>
            </div>
            <div class="form-group m-4">
                <label for="streetNumber">Street Number</label>
                <input type="text" class="form-control" id="streetNumber" placeholder="5" name="streetNumber">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('streetNumber')}" th:errors="*{streetNumber}">Street Number Error</div>
            </div>
            <div class="form-group m-4">
                <label for="apartmentNumber">Apartment Number (optional)</label>
                <input type="text" class="form-control" id="apartmentNumber" placeholder="5" name="apartmentNumber">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('apartmentNumber')}" th:errors="*{apartmentNumber}">Apartment Number Error</div>
            </div>
            <div class="form-group m-4">
                <label for="zipcode">Zipcode</label>
                <input type="text" class="form-control" id="zipcode" placeholder="2000" name="zipcode">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">Zipcode Error</div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary m-4">Create account</button>
            </div>
        </form>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>