<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="m-4">

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="container">
        <div class="d-flex justify-content-end">
            <a th:href="@{/login}" class="btn btn-primary m-4">Go back</a>
        </div>
    </div>

    <div class="container">
        <form method="post" class="m-4" th:object="${userDTO}">
            <div class="form-group m-4">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="John" name="firstName">
                <div class="m-2 alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
            </div>
            <div class="form-group m-4">
                <label for="inputLastName">Last name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="John" name="lastName">
            </div>
            <div class="form-group m-4">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
            </div>
            <div class="form-group m-4">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group m-4">
                <label for="inputPhoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="inputPhoneNumber" placeholder="John" name="phoneNumber">
            </div>
            <h2>Address:</h2>
            <div class="form-group m-4">
                <label for="inputCountry">Country</label>
                <input type="text" class="form-control" id="inputCountry" placeholder="Belgium" name="country">
            </div>
            <div class="form-group m-4">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Antwerp" name="city">
            </div>
            <div class="form-group m-4">
                <label for="inputStreet">Street</label>
                <input type="text" class="form-control" id="inputStreet" placeholder="Nationale Straat" name="streetName">
            </div>
            <div class="form-group m-4">
                <label for="inputStreetNumber">Street Number</label>
                <input type="number" class="form-control" id="inputStreetNumber" placeholder="5" name="streetNumber">
            </div>
            <div class="form-group m-4">
                <label for="inputApartmentNumber">Apartment Number (optional)</label>
                <input type="text" class="form-control" id="inputApartmentNumber" placeholder="5" name="apartmentNumber">
            </div>
            <div class="form-group m-4">
                <label for="inputZipcode">Zipcode</label>
                <input type="text" class="form-control" id="inputZipcode" placeholder="2000" name="zipcode">
            </div>
            <button type="submit" class="btn btn-primary m-4">Create account</button>
        </form>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

</body>
</html>