<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review Jonas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../static/style.css" media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <nav th:replace="${loggedIn} ? ~{fragments/navbarLoggedIn::navbarLoggedIn} : ~{fragments/navbar::navbar}"></nav>

    <div th:insert="~{fragments/header::header}">header</div>

    <p class="h1 m-4 font-weight-bold text-center" th:utext="#{review-jonas.title}">Blogpost Jonas</p>

    <div class="d-flex justify-content-center">
        <div class="container m-4">
            <div class="row">
                <div class="col-sm flex-row-reverse">
                    <div class="d-flex flex-row-reverse">
                        <img style="max-width: 20rem" class="img-fluid rounded-circle mb-3" th:src="@{images/jonas.jpeg}" alt="headshot Jonas" />
                    </div>
                </div>
                <div class="col-sm">
                    <p class="m-4 indexPageText" th:utext="#{review-jonas.paragraph}">
                        I always loved supporting and keeping up to date with new technologies.
                        Outfitly was something that immediately caught my attention.
                        I’m a very busy person and don’t always have the time to do all my morning chores before having to leave.
                        Outfitly has saved some of that precious little time I have in the morning.
                        A nice addition to the application is viewing the weather forecast as well so I know what weather I’m facing when going outside.
                        It’s really convenient not only as a clothing picker but it also helps you by being a manager for all your clothes!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <input type="button" class="btn btn-outline-dark m-4" onclick="history.go(-1);" value="Go back" th:value="#{review-jonas.button}"/>
    </div>




    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>