<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Review Marie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../static/style.css" media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav th:replace="${loggedIn} ? ~{fragments/navbarLoggedIn::navbarLoggedIn} : ~{fragments/navbar::navbar}"></nav>

    <div th:insert="~{fragments/header::header}">header</div>

    <p class="h1 m-4 font-weight-bold text-center" th:utext="#{review-marie.title}">Blogpost Marie</p>

    <div class="d-flex justify-content-center">
        <div class="container m-4">
            <div class="row">
                <div class="col-sm flex-row-reverse">
                    <div class="d-flex flex-row-reverse">
                        <img style="max-width: 20rem" class="img-fluid rounded-circle mb-3" th:src="@{images/marie.jpeg}" alt="headshot Marie" />
                    </div>
                </div>
                <div class="col-sm">
                    <p class="m-4 indexPageText" th:utext="#{review-marie.paragraph}">
                        Outfitly was exactly what I was looking for.
                        Having just graduated from university and getting into the working world is as stressful as it gets
                        and picking out clothing for the day has always been a challenge for me.
                        I’m not that much into fashion but for my job I have to look presentable!
                        But most importantly I just want to feel comfortable. How often I forget to look at the weather forecast to then have the completely wrong outfit!
                        Outfitly does this complete process for you with a click of a button, saving you from a potentially awkward situation.
                        Now picking clothes in the morning takes only a few seconds, and I never feel too cold or too warm.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <input type="button" class="btn btn-outline-dark m-4" onclick="history.go(-1);" value="Go Back" th:value="#{review-marie.button}"/>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>