<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<h1 class="display-1 text-center m-4">
    Outfitly
</h1>

<div class="container">
    <form method="post">
        <div class="form-group">
            <label class="text-center">Occasion</label>
            <label class="form-check-label" for="casual">Casual</label>
            <input aria-describedby="occasionHelp" class="form-control form-check-input" id="casual" name="occasion" type="radio"
                   value="casual">

            <label class="form-check-label"  for="universal">universal</label>
            <input aria-describedby="occasionHelp" class="form-control ui-icon-radio-on form-check-input" id="universal" name="occasion" type="radio"
                   value="universal">

            <label class="form-check-label"  for="elegant">Elegant</label>
            <input aria-describedby="occasionHelp" class="form-control ui-icon-radio-on form-check-input" id="elegant" name="occasion" type="radio"
                   value="elegant">
            <small class="form-text text-muted" id="occasionHelp">We'll never share your email with anyone else.</small>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
<footer th:replace="~{footer::copy}"></footer>
</body>
</html>