<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

    <h1 class="display-1 text-center m-4">
        Outfitly
    </h1>

    <h2 class="text-muted text-center">
        Your everyday AI stylist.
    </h2>

    <div class="mt-3 d-flex justify-content-center">
        <div class="form-check m-4">
            <input class="form-check-input" type="radio" name="occasion" id="casual" value="casual">
            <label class="form-check-label" for="casual">
                Casual
            </label>
        </div>
        <div class="form-check m-4">
            <input class="form-check-input" type="radio" name="occasion" id="universal" value="universal">
            <label class="form-check-label" for="universal">
                Universal
            </label>
        </div>
        <div class="form-check m-4">
            <input class="form-check-input" type="radio" name="occasion" id="elegant" value="elegant">
            <label class="form-check-label " for="elegant">
                Elegant
            </label>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <a href="" class="btn btn-outline-dark mb-4">Choose occasion</a>
    </div>

    <footer th:replace="~{footer::copy}"></footer>
</body>
</html>