<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Outfitly</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:insert="~{fragments/navbarLoggedIn::navbarLoggedIn}">navbarLoggedIn</div>

    <div th:insert="~{fragments/header::header}">header</div>

    <div class="container w-25">
        <div class="d-flex align-content-center">
            <a th:href="@{/user/profile}" class="btn btn-outline-dark m-4">Go back</a>
        </div>
        <div th:each="clothing : ${user.getClothes()}">
            <div class="card">
                <div class="card-body">
                    <span th:text="${clothing.getName()}"></span>
                    <img class="img-fluid" th:if="${clothing.getPhotoEncoded().length()>1}" th:src="${clothing.getPhotoEncoded()}" th:alt="${clothing.getName()}">
                    <form method="post" th:object="${clothingDTO}" th:action="@{/user/profile/viewclothing}">
                        <input type="text" id="ID" name="ID" th:value="${clothing.getId()}" hidden>
                        <input type="submit" class="btn" th:href="@{/user/profile/viewclothing}" value="Delete clothing">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>