<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js@3.6.1/dist/chart.min.js"></script>
    <script th:inline="javascript" th:type="module">
        let valueCount = 10;
        let temperatureArray = [[${dailyWeatherForecastData.getDailyTemperatures}]].slice(0, valueCount);
        let timestampArray = [[${dailyWeatherForecastData.getDailyTemperatureTimestamps}]];
        let weatherAlertArray = [[${dailyWeatherForecastData.getWeatherAlerts}]];
        let weatherAlertTimestampArray = [[${dailyWeatherForecastData.getWeatherAlertTimestamps}]];
        let timeArray = [];
        console.log(temperatureArray);

        for (let i = 0; i < valueCount * 2; i += 2) {
            let date = new Date(timestampArray[i] * 1000);
            let hours = date.getHours();
            let minutes = '0' + date.getMinutes();

            timeArray.push(hours + ':' + minutes.substr(-2));
        }

        const ctx = document.getElementById('myChart').getContext('2d');

        let gradient = ctx.createLinearGradient(0, 0, 0, 400);
        gradient.addColorStop(0, 'rgba(58, 123, 213, 1');
        gradient.addColorStop(1, 'rgba(0, 210, 255, 0.3');

        // TODO: Values on top of line.
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: timeArray,
                datasets: [{
                    data: temperatureArray,
                    borderColor: '#3e95cd',
                    fill: true,
                    backgroundColor: gradient,
                    borderColor: '#fff',
                    borderWidth: 1.5
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: false
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    point: {
                        radius: 0
                    }
                }
            }
        });

        function unixTimeConverter(timestamp) {
            let time = new Date(timestamp * 1000);
            let year = time.getFullYear();
            let month = time.getMonth();
            let date = time.getDate();
            let hour = time.getHours();
            let min = time.getMinutes();
            let sec = time.getSeconds();
            return year + '-' + month + '-' + date + ' ' + hour + ':' + min + ':' + sec;
        }

        if (weatherAlertArray.length != 0) {
            document.getElementById('warning').innerText = 'Weather warnings for today.';
            document.getElementById('alerts').className = 'd-flex flex-column justify-content-center alert alert-warning';

            for (let i = 0; i < weatherAlertArray.length; i++) {
                let type1 = document.createElement('span');
                let type2 = document.createElement('span');
                let text1 = document.createTextNode('\n[' + unixTimeConverter(weatherAlertTimestampArray[i]) + ']');
                let text2 = document.createTextNode(weatherAlertArray[i]);
                type1.appendChild(text1);
                type2.appendChild(text2);
                document.getElementById('weatherAlerts').appendChild(type1);
                document.getElementById('weatherAlerts').appendChild(type2);
            }
        }
    </script>
</head>
<body class="m-4">

<div th:insert="~{fragments/navbarLoggedIn::navbarLoggedIn}">navbarLoggedIn</div>

<div th:insert="~{fragments/header::header}">header</div>

<div class="d-flex flex-column m-5" style="max-height: 100vh">

    <h2 class="">Hello, <span th:text="${username}"></span></h2>

    <div class="d-flex flex-row">

        <div class='d-flex justify-content-center flex-column w-50'>
            <div>
                <p>The current forecast for today in <span th:text="${city}"></span> is <span
                        th:text="${dailyWeatherForecastData.getDescription}"></span>.</p>
                <p>The forecast for today shows a high of <span
                        th:text="${dailyWeatherForecastData.getMaxTemperature}"></span>°C and a low of <span
                        th:text="${dailyWeatherForecastData.getMinTemperature}"></span>°C.</p>
                <p>There is a <span th:text="${dailyWeatherForecastData.getRainProbability}"></span>% chance of rain
                    today.</p>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center w-50">
            <div><img th:src="${dailyWeatherForecastData.getWeatherIcon()}" alt="weather-icon" class="img-fluid"></div>
            <div class="justify-content-center d-flex flex-column w-50">
                <div>Current temperature: <span th:text="${dailyWeatherForecastData.getCurrentTemperature}"></span>°C
                </div>
                <div>Humidity: <span th:text="${dailyWeatherForecastData.getCurrentHumidity}"></span>%</div>
                <div>Wind: <span th:text="${dailyWeatherForecastData.getCurrentWindSpeed}"></span>m/s</div>
            </div>
        </div>
    </div>

    <div id="alerts">
        <div><h2 id="warning"></h2></div>
        <div id="weatherAlerts" class="d-flex flex-column"></div>
    </div>

    <div class="mt-4">
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="m-4">
        <a class="btn btn-outline-dark" th:href="@{/user/outfit}">View suggested clothing</a>
    </div>
    <!--    <div class="m-4">-->
    <!--        <a class="btn btn-outline-dark" th:href="@{/...}">View weekly broadcast</a>-->
    <!--    </div>-->
</div>

<div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>
</body>
</html>