<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js@3.6.1/dist/chart.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let temperatureArray = /*[[${dailyWeatherForecastData.getDailyTemperatures}]]*/ 1;
        let timestampArray = /*[[${dailyWeatherForecastData.getDailyTemperatureTimestamps}]]*/ 1;
        let weatherAlertArray = /*[[${dailyWeatherForecastData.getWeatherAlerts}]]*/ 1;
        let weatherAlertTimestampArray = /*[[${dailyWeatherForecastData.getWeatherAlertTimestamps}]]*/ 1;
        /*]]>*/
    </script>

</head>
<body class="m-4">

<div th:insert="~{fragments/navbarLoggedIn::navbarLoggedIn}">navbarLoggedIn</div>

<div th:insert="~{fragments/header::header}">header</div>

<div class="d-flex flex-column m-5" style="max-height: 100vh">

    <h2 class="" th:utext="#{weather-forecast.heading-1}">Hello, <span th:text="${username}"></span></h2>

    <div class="d-flex flex-row">

        <div class='d-flex justify-content-center flex-column w-50'>
            <div style="white-space: pre;">
                <p th:utext="#{weather-forecast.paragraph-1}">The current forecast for today in <span th:text="${city}"></span> is <span
                        th:text="${dailyWeatherForecastData.getDescription}"></span>.</p>
                <p th:utext="#{weather-forecast.paragraph-2}">The forecast for today shows a high of
                    <span th:text="${dailyWeatherForecastData.getMaxTemperature}"></span>
                    <span th:utext="#{weather-forecast.paragraph-2-span-1}">°C and a low of </span>
                    <span th:text="${dailyWeatherForecastData.getMinTemperature}"></span>°C.
                </p>
                <p th:utext="#{weather-forecast.paragraph-3}">There is a <span th:text="${dailyWeatherForecastData.getRainProbability}"></span>
                    <span th:utext="#{weather-forecast.paragraph-3-span-1}">% chance of rain today.</span>
                </p>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center w-50">
            <div><img th:src="${dailyWeatherForecastData.getWeatherIcon()}" alt="weather-icon" class="img-fluid"></div>
            <div style="white-space: pre;" class="justify-content-center d-flex flex-column w-50">
                <div th:utext="#{weather-forecast.div-1-text}">Current temperature: <span th:text="${dailyWeatherForecastData.getCurrentTemperature}"></span>°C</div>
                <div th:utext="#{weather-forecast.div-2-text}">Humidity: <span th:text="${dailyWeatherForecastData.getCurrentHumidity}"></span>%</div>
                <div th:utext="#{weather-forecast.div-3-text}">Wind: <span th:text="${dailyWeatherForecastData.getCurrentWindSpeed}"></span>m/s</div>
            </div>
        </div>
    </div>

    <div id="alerts">
        <div><h2 id="warning"></h2></div>
        <div id="weatherAlerts" class="d-flex flex-column"></div>
    </div>

    <div class="mt-4">
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="m-4">
        <a class="btn btn-outline-dark" th:utext="#{weather-forecast.button}" th:href="@{/user/outfit}">View suggested clothing</a>
    </div>
    <!--    <div class="m-4">-->
    <!--        <a class="btn btn-outline-dark" th:href="@{/...}">View weekly broadcast</a>-->
    <!--    </div>-->
</div>

<div th:insert="~{fragments/footer::footer}">&copy; 2021 The Static Templates</div>

<script th:src="@{/script.js}"></script>
</body>
</html>